@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* background: #0C0C0C; */
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}



.section__padding {
    padding: 4rem 6rem;
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app__bg {
    background: url('../assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
  
  .app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    min-height: 100vh;
  }
  
  .app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: 2rem;
  }
  
  .app__wrapper_img-reverse {
    justify-content: flex-start;
    margin-right: 2rem;
  }
  
  .app__wrapper_img img {
    width: 80%;
  }
  
  .custom__button {
    background-color: var(--color-golden);
      color: var(--color-black);
      font-family: var(--font-base);
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 28px;
      font-size: 24px;
      padding: 0.5rem 1.5rem;
      border-radius: 1px;
      border: none;
      border-radius: 6px;
      outline: none;
      cursor: pointer;
      transition: 0.5s ease;
  }

  .custom__button:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-golden);
    border: 1px solid var(--color-golden);
  }
  
  .p__cormorant {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
  }
  
  .p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
  }
  
  .headtext__cormorant {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }
  
  .spoon__img {
    width: 45px;
  }
  
  @media screen and (min-width: 2000px) {
    .custom__button,
    .p__cormorant {
      font-size: 37px;
      line-height: 67px;
    }
  
    .p__opensans {
      font-size: 30px;
      line-height: 50px;
    }
  
    .headtext__cormorant {
      font-size: 150px;
      line-height: 210px;
    }
  
    .spoon__img {
      width: 80px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .app__wrapper {
      flex-direction: column;
    }
  
    .app__wrapper_img {
      margin: 5rem 0 0 0;
    }
  
    .app__wrapper_img-reverse {
      margin: 0 0 5rem 0;
    }
  
    .app__wrapper_img img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 850px) {
    .section__padding {
      padding: 4rem;
    }
  }
  
  @media screen and (max-width: 650px) {
    .section__padding {
      padding: 4rem 2rem;
    }
    
    .p__cormorant {
      font-size: 21px;
    }
  
    .p__opensans {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .p__opensans {
      font-size: 12px;
    }
  
    .p__cormorant {
      font-size: 19px;
    }
  
    .headtext__cormorant {
      font-size: 45px;
      line-height: 70px;
    }
  }

  /* Navbar styling */

  nav {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background: var(--color-black);
    padding: 1rem 2rem;
  }


nav .navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo img {
    width: 150px;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.navbar-links li:hover {
    color: var(--color-golden);
}

.navbar-login {
    display: flex;
    align-items: center;
}

.navbar-login a {
    margin: 0rem 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar-login a:hover {
    border-bottom: 1px solid var(--color-golden);
}

.navbar-login div {
    width: 1px;
    height: 30px;
    background-color: var(--color-gray);
}

.navbar-smallscreen {
    display: none;
}

.navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-smallscreen_links {
    list-style: none;
}

.navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.navbar-smallscreen_links li:hover {
    color: #fff;
}



@media screen and (max-width: 2000px){
    .navbar-logo img {
        width: 210px;
    }
}


@media screen and (max-width: 1150px) {
    .navbar-links {
        display: none;
    }

    .navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px){
    .navbar {
        padding: 1rem;
    }

    .navbar-login {
        display: none;
    }

    .navbar-logo img {
        width: 110px;
    }
}

/* Home Styles */
.app__header {
    background: var(--color-black);
  }
  
  .app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    line-height: 117px;
    font-size: 40px;
  }
  
  .app__header-img img {
    width: 80%;
  }


/* About us styles */
  .app__aboutus {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .app__aboutus h2 {
    color: var(--color-white);
    font-size: 58px;
  }
  
  .app__aboutus-overlay {
    position: absolute;
    inset: 0;
  }
  
  .app__aboutus-overlay img {
    width: 391px;
    height: 415px;
    z-index: 0;
  }
  
  .app__aboutus-content {
    width: 100%;
    z-index: 2;
  }
  
  .app__aboutus-content_about {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
  }
  
  .app__aboutus-content_knife {
    margin: 2rem 4rem;
    height: 1rem;
  }
  
  .app__aboutus-content_knife img {
    height: 910px;
  }
  
  .app__aboutus-content_history {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  
  .app__aboutus-content_history p {
    margin: 2rem 0;
    color: var(--color-white);
    font-weight: bold;
  }
  
  .app__aboutus-content_about p,
  .app__aboutus-content_about p{
    margin: 2rem 0;
    color: var(--color-white);
    font-weight: bold;
  } 
  
  
  
  @media screen and (max-width: 2000px) {
    .app__aboutus-content_knife img {
        height: 1110px; 
    }
  
    .app__aboutus-content_about p,
  .app__aboutus-content_about p{
    margin: 4rem 0;
  } 
  
  }
  
  
  @media screen and (max-width: 900px) {
    .app__aboutus-content {
        flex-direction: column;
    }
  
    .app__aboutus-content_knife {
        margin: 4rem 0;
    }
  }
  
  
  @media screen and (max-width: 650px) {
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
  }

  /* menu styles */
  /* .app__menuitem {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.app__menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__menuitem-sub {
    width: 100%;
    margin-top: 0.2rem;
}


.app__menuitem-name {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app__menuitem-price p#price1 {
    color: var(--color-golden);
    display: flex;
    flex-direction: column;
}

.app__menuitem-dash {
    width: 90%;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
}

.app__menuitem-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
} */


.app__specialMenu {
    background-color: var(--color-black);
    flex-direction: column;
}

.app__specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
}


.app__specialMenu-menu {
    display: flex;
    flex-direction: row;
    /* width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; */
}

.app__specialMenu-heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.app__specialMenu-menu_wine, 
.app__specialMenu-menu_cocktails {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__specialMenu-menu_image {
    width: 380px;
    margin: 0rem 2rem;
}

.app__specialMenu-menu_image img {
    width: 100%;
    height: auto;
}

.app__specialMenu_menu_items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}



@media screen and (max-width: 2000px) {
    .app__specialMenu-menu_image {
        width: 650px;
    }
    .app__specialMenu-menu_image img {
        height: 920px;
    }
}

@media screen and (max-width: 1150px) {
    .app__specialMenu-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    
}
.app__specialMenu-menu_image {
        margin: 3rem 0;
    }

    
@media screen and (max-width: 650px) {
    .app__specialMenu-menu_image {
        width: 100%;
    }

    .app__specialMenu-heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}