@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* background: #0C0C0C; */
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}



.section__padding {
    padding: 4rem 6rem;
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app__bg {
    background: url('../assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
  
  .app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    min-height: 100vh;
  }
  
  .app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: 2rem;
  }
  
  .app__wrapper_img-reverse {
    justify-content: flex-start;
    margin-right: 2rem;
  }
  
  .app__wrapper_img img {
    width: 80%;
  }
  
  .custom__button {
    background-color: var(--color-golden);
      color: var(--color-black);
      font-family: var(--font-base);
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 28px;
      font-size: 24px;
      padding: 0.5rem 1.5rem;
      border-radius: 1px;
      border: none;
      border-radius: 6px;
      outline: none;
      cursor: pointer;
      transition: 0.5s ease;
  }

  .custom__button:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-golden);
    border: 1px solid var(--color-golden);
  }
  
  .p__cormorant {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
  }
  
  .p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
  }
  
  .headtext__cormorant {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }
  
  .spoon__img {
    width: 45px;
  }
  
  @media screen and (min-width: 2000px) {
    .custom__button,
    .p__cormorant {
      font-size: 37px;
      line-height: 67px;
    }
  
    .p__opensans {
      font-size: 30px;
      line-height: 50px;
    }
  
    .headtext__cormorant {
      font-size: 150px;
      line-height: 210px;
    }
  
    .spoon__img {
      width: 80px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .app__wrapper {
      flex-direction: column;
    }
  
    .app__wrapper_img {
      margin: 5rem 0 0 0;
    }
  
    .app__wrapper_img-reverse {
      margin: 0 0 5rem 0;
    }
  
    .app__wrapper_img img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 850px) {
    .section__padding {
      padding: 4rem;
    }
  }
  
  @media screen and (max-width: 650px) {
    .section__padding {
      padding: 4rem 2rem;
    }
    
    .p__cormorant {
      font-size: 21px;
    }
  
    .p__opensans {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .p__opensans {
      font-size: 12px;
    }
  
    .p__cormorant {
      font-size: 19px;
    }
  
    .headtext__cormorant {
      font-size: 45px;
      line-height: 70px;
    }
  }

  /* Navbar styling */

  nav {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background: var(--color-black);
    padding: 1rem 2rem;
  }


nav .navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo img {
    width: 150px;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.navbar-links li:hover {
    color: var(--color-golden);
}

.navbar-login {
    display: flex;
    align-items: center;
}

.navbar-login a {
    margin: 0rem 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar-login a:hover {
    border-bottom: 1px solid var(--color-golden);
}

.navbar-login div {
    width: 1px;
    height: 30px;
    background-color: var(--color-gray);
}

.navbar-smallscreen {
    display: none;
}

.navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-smallscreen_links {
    list-style: none;
}

.navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.navbar-smallscreen_links li:hover {
    color: #fff;
}



@media screen and (max-width: 2000px){
    .navbar-logo img {
        width: 210px;
    }
}


@media screen and (max-width: 1150px) {
    .navbar-links {
        display: none;
    }

    .navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px){
    .navbar {
        padding: 1rem;
    }

    .navbar-login {
        display: none;
    }

    .navbar-logo img {
        width: 110px;
    }
}

/* Home Styles */
.app__header {
    background: var(--color-black);
  }
  
  .app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    line-height: 117px;
    font-size: 40px;
  }
  
  .app__header-img img {
    width: 80%;
  }


/* About us styles */
  .app__aboutus {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .app__aboutus h2 {
    color: var(--color-white);
    font-size: 58px;
  }
  
  .app__aboutus-overlay {
    position: absolute;
    inset: 0;
  }
  
  .app__aboutus-overlay img {
    width: 391px;
    height: 415px;
    z-index: 0;
  }
  
  .app__aboutus-content {
    width: 100%;
    z-index: 2;
  }
  
  .app__aboutus-content_about {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
  }
  
  .app__aboutus-content_knife {
    margin: 2rem 4rem;
    height: 1rem;
  }
  
  .app__aboutus-content_knife img {
    height: 910px;
  }
  
  .app__aboutus-content_history {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  
  .app__aboutus-content_history p {
    margin: 2rem 0;
    color: var(--color-white);
    font-weight: bold;
  }
  
  .app__aboutus-content_about p,
  .app__aboutus-content_about p{
    margin: 2rem 0;
    color: var(--color-white);
    font-weight: bold;
  } 
  
  
  
  @media screen and (max-width: 2000px) {
    .app__aboutus-content_knife img {
        height: 1110px; 
    }
  
    .app__aboutus-content_about p,
  .app__aboutus-content_about p{
    margin: 4rem 0;
  } 
  
  }
  
  
  @media screen and (max-width: 900px) {
    .app__aboutus-content {
        flex-direction: column;
    }
  
    .app__aboutus-content_knife {
        margin: 4rem 0;
    }
  }
  
  
  @media screen and (max-width: 650px) {
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
  }

  /* menu styles */



.main-container {
    width: auto;
    margin: auto;
    height: auto;
    background: var(--color-black);
}

.head-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-golden);
}

.head-text h4 {
  color: var(--color-white);
  font-family: var(--font-base);
  font-size: 1.9rem;
  padding-top: 2rem;
 }

.head-text h2 {
    font-size: 2.6rem;
    margin-bottom: 1.9rem;
    font-family: var(--font-base);
}

.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 4rem;
}

/* Card 1 styling */

.cards .card1 {
    height: auto;
    width: 400px;
    border: 2px solid var(--color-golden);
    padding: 2rem 3rem;
    border-radius: 10px;
}

.card1 h3 {
    color: var(--color-golden);
    border-bottom: 2px solid var(--color-golden);
    width: 100px;
    font-size: 1.5rem;
}
.card1 p.second{
  color: var(--color-white);
  font-weight: normal;
}

.card1 .price {
    background: var(--color-golden);
    margin-top: -3.5rem;
    padding-top: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    float: right;
}

.price p {
    font-size: 1.3rem;
    font-weight: bold;
}

.card1 img {
    width: 100%;
    height: 100%;
    margin-top: -17rem;
    padding-top: -3rem;
}

/* card2 styling */
.cards .card2 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card2 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card2 p.second{
color: var(--color-white);
font-weight: normal;
}

.card2 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card2 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}


/* Card 3 styling */
.cards .card3 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card3 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card3 p.second{
color: var(--color-white);
font-weight: normal;
}

.card3 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card3 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}

/* card4 stling */
.cards .card4 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card4 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card4 p.second{
color: var(--color-white);
font-weight: normal;
}

.card4 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card4 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}

/* card5 stling */
.cards .card5 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card5 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card5 p.second{
color: var(--color-white);
font-weight: normal;
}

.card5 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card5 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}


/* card6 stling */

.cards .card6 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card6 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card6 p.second{
color: var(--color-white);
font-weight: normal;
}

.card6 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card6 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}

/* card7 stling */

.cards .card7 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card7 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card7 p.second{
color: var(--color-white);
font-weight: normal;
}

.card7 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card7 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}


/* card8 stling */
.cards .card8 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card8 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card8 p.second{
color: var(--color-white);
font-weight: normal;
}

.card8 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card8 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}

/* card9 stling */
.cards .card9 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card9 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card9 p.second{
color: var(--color-white);
font-weight: normal;
}

.card9 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card9 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}

/* card11 stling */

.cards .card11 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card11 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card11 p.second{
color: var(--color-white);
font-weight: normal;
}

.card11 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card11 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}


/* card12 stling */


.cards .card12 {
  height: auto;
  width: 400px;
  border: 2px solid #f3e874ff;
  padding: 2rem 3rem;
  border-radius: 10px;
}

.card12 h3 {
  color: #f3e874ff;
  border-bottom: 2px solid #f3e874ff;
  width: 100px;
  font-size: 1.5rem;
}
.card12 p.second{
color: var(--color-white);
font-weight: normal;
}

.card12 .price {
  background: #f3e874ff;
  margin-top: -3.5rem;
  padding-top: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  float: right;
}

.price p {
  font-size: 1.3rem;
  font-weight: bold;
}

.card12 img {
  width: 100%;
  height: 100%;
  margin-top: -17rem;
  padding-top: -3rem;
}


/* Media Queries */

@media screen and (max-width: 1200px) {
    .cards {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 950px) {
    .cards {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    /* ul.link {
        display: none;
    } */


    .links ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f3e874ff;
        top: 50px;
        left: -100%;
        line-height: 0;
        transition: all .5s;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 0;
        z-index: 5;
        flex-direction: column;
        padding-left: 0;
        align-items: center;
    }
    .links ul li {
        line-height: 0;
    }
    .links ul li a {
        line-height: 40px;
        color: #000;
    }
    .links ul li a.active {
        color: #000;
    }
    #icons svg {
        display: block;
        cursor: pointer;
        float: left;
        margin-left: 0;
    }
    /* #links {
        display: block;
        float: left;
        margin-left: 0;
    } */

    .links ul.show {
        left: 0;
    }


}

@media screen and (max-width: 650px) {
    .cards {
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 450px) {
    .cards .card1 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card1 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card2 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card2 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card3 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card3 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card4 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card4 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card5 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card5 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card6 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card6 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card7 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card7 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card8 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card8 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card9 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card9 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card11 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card11 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
    .cards .card12 {
        width: 240px;
        border: 2px solid #f3e874ff;
        padding: 2rem 3rem;
        border-radius: 10px;
    }
    .card12 .price {
        margin-top: -4rem;
        margin-right: 0;
        padding-right: -1rem;
    }
}

.scroll-top {
  position: fixed;
  bottom: 10%;
  right: 3%;
  background-color: var(--color-golden);
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  animation: grow 1s linear infinite alternate;
  cursor: pointer;
  display: none;
  border-radius: 25%;
}

.scroll-top svg {
  width: 2rem;
}

@keyframes grow {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.scroll-top.show {
  display: block;
}


.app__chef-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
}

.app__chef-quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.app__chef-quote img {
  width: 47px;
  height: 40px;
  margin: 0rem 1rem 1rem 0rem;
}

.app__chef-sign {
  width: 100%;
  margin-top: 3rem;
}

.app__chef-content_quote p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.04em;
  color: var(--color-golden);
}

.app__chef-sign p:first-child  {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.04em;
  color: var(--color-golden);
}

.app__chef-sign img {
  width: 250px;
  margin-top: 3rem;
}

@media screen and (max-width: 2000px) {
  .app__chef-sign img {
      width: 370px;
  }
}

@media screen and (max-width: 450px) {
  .app__chef-sign img {
      width: 80%;
      /* margin-top: 3rem; */
  }
}


@media screen and (max-width: 1200px) {
  .app__wrapper_image img {
      width: 1000px;
  }
}

@media screen and (max-width: 850px) {
  .app__wrapper_image {
      width: 100%;
      height: 100%;
  }

  .app__wrapper_image img {
      width: 700px;
      height: 100%;
  }
}

@media screen and (max-width: 650px) {
  .app__wrapper_image img {
      width: 500px;
  }
}

@media screen and (max-width: 450px) {
  .app__wrapper_image img {
      width: 370px;
  }
}



.app__recipe {
  height: 100vh;
  width: 100%;
  background: var(--color-black);
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  margin: auto;
  padding: 2rem 2rem;
}

.app__recipe input {
  margin-top: 3rem;
  width: 300px;
  justify-content: flex-start;
  height: 43px;
  background: transparent;
  outline: none;
  text-decoration: none;
  color: var(--color-white);
  border: 1px solid var(--color-golden);
  border-radius: 6px 0 0 6px;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.app__recipe button {
  border-radius: 0 6px 6px 0;
  height: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-search {
  display: flex;
  justify-content: center;
}
.input-search button {
  border-radius: 0 6px 6px 0;
  height: 43px;
  margin-top: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.order {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.price-list {
  color: var(--color-white);
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
}
/* .price-list table tr th {
  color: var(--color-white);
} */

table tr, th {
  color: var(--color-white);
  justify-content: flex-start;
  /* justify-content: space-between; */
  font-family: var(--font-base);
  font-size: 1.5rem;
  width: 400px;
  align-items: center;
  text-align: center;
}

.order-form {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-left: 35%; */
}
.order-form h1 {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 0;
}

.table-order {
  justify-content: center;
  display: flex;
  border: 2px solid var(--color-golden);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 50%;
  margin: auto;
  border-radius: 8px;
  font-size: 2rem;
}

.table-order td input {
  background: none;
  font-size: 1.6rem;
  margin: 0.7rem;
  color: var(--color-white);
  padding-left: 0.9rem;
  outline: none;
  border: 1px solid var(--color-golden);
  border-radius: 5px;
}

.table-order td select {
  font-size: 2rem;
}

.tbl-form {
  justify-content: center;
}

.tbl-form th {
  font-size: 3rem;
  color: var(--color-golden);
}

.tbl-form td {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  align-items: center;
  padding-top: 0.8rem;
}

.tbl-form select {
  background: none;
  color: var(--color-white);
  font-size: 1.2rem;
  margin-top: 0.8rem;
  outline: none;
  border: 1px solid var(--color-golden); 
}

.tbl-form select option {
  color: var(--color-white);
}

.tbl-form input {
  background: none;
  outline: none;
  height: 36px;
  border: 1px solid var(--color-golden);
  color: var(--color-white);
  padding: 0 2rem;
  font-size: 1.6rem;
  font-family: var(--font-base);
  font-weight: bold;
  letter-spacing: 0.04em;
}


footer{
  /* position: absolute; */
  bottom: 0;
  /* left: 0;
  right: 0; */
  background: var(--color-black);
  height: auto;
  width: 100%;

  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 3.7rem;
  font-family: var(--font-base);
  font-weight: 500;
  color: var(--color-golden);
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 19px;
  font-family: var(--font-base);
  color: var(--color-white);
}
.footer-content h4 {
  font-size: 2.2rem;
  color: var(--color-crimson);
  font-family: var(--font-base);
  font-weight: bold;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;

}
.socials a svg{
  font-size: 1.9rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover svg{
  color: var(--color-golden);
}

.footer-bottom{
  background: #000;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color: var(--color-golden);
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: var(--color-golden);
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}


/* Google Font CDN Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.container{
  width: 100%;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: var(--color-golden);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 26px;
  font-weight: 500;
  color: var(--color-white);
  font-family: var(--font-base);
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 18px;
  color: var(--color-grey);
  font-family: var(--font-base);
  font-weight: bold;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 2.9rem;
  font-family: var(--font-base);
  font-weight: 600;
  color: var(--color-golden);
}

.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 70%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
/* .right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
} */

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

